*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{ 
    width: 100%;
    height: 100%;
    color: #fff;

}
.crsr{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    /* background-color: #fff; */
    border: 1px solid white;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50% , -50%);

}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: black;
    padding: 15vw 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    gap: 2vw;
}
.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line1-part1 h5 ,.line1-part1 h6{
    font-size: 2.5vw;
    font-weight: 400;
    font-style: italic;
}
.line1-part1 h5{
    width: 4.5vw;
   
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 500;
}
.line h2{
    font-size:6vw ;
    text-transform: uppercase;
    font-weight: 500;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anim {
    0%{
        font-family: gilroy;
        font-style: oblique;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    48%{
        font-family: gilroy;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: gilroy;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        /* font-style: oblique; */
        font-family: gilroy;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color:transparent;
        opacity: 0;
    }
}
.main{
    position: relative;
    background-color: rgb(37, 36, 36);
}
.page1{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(40, 40, 40); */
}
.page1 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1vw 5.2vw;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;

}
.nav-part2 h4{
    font-size: 1.1vw;
    font-weight: 500;
} 
.hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    height: fit-content;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7.3vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.5vw;
}
.page2{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    padding-top: 15vh;
    position: relative;
}
.video-container img {
    width: 100%;
    height: 100%; 
    position: absolute;
    object-fit: cover;
}
.video-container{
    height: 60vh;
    width: 70vw;
    position: relative;
    background-color: brown;
    left: 28%;
    background: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    /* top: 20%; */

}
.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(60, 54, 54);
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh 0;
    /* background-color: rgb(45, 32, 32); */
}

.page4-content{
    width: 60vw;
    margin-left: 27%;
}
.page4-content h1{
    font-size: 7vw;
    font-weight: 500;
    text-transform: uppercase;
}
.page4-content  .underline{
    height: 2px;
    width: 100%;
    background-color: #fff ;
    margin: 5vw 0;
}
.page4-content>p{
    font-size: 2.2vw;
    width: 59%;
    margin-bottom: 4vw;
}
.page4-flex{
    display: flex;
    gap: 3vw;
    /* align-items: center; */
    /* justify-content:center ; */
}
.page4-flex img{
    width: 50%;

}
.page4-flex p{
    font-size: 1.1vw;
    width: 28%;
    line-height: 3vh;
}

/* page5 */
.page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
    /* background-color: chocolate; */
    position: relative;
}
.elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 1vw;

}
.elem h1{
    font-size: 6vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    margin-left: 20px;
    display: inline-block;
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anime {
    from{
        transform: translateX(0);

    }to{
        transform: translateX(calc(-100% - 20px));
    }
    
}

.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -1vw;

}
.elem2 h1{
    font-size: 6vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    margin-left: 20px;
    display: inline-block;
    animation-name: anime;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes anime {
    from{
        transform: translateX(0);

    }to{
        transform: translateX(calc(-100% - 20px));
    }
    
}
.elem span{
    font-style: italic;
} 

/* footer */    
.footer{
    height: 80vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 28vw;
}
.footer h1{
    font-size: 7vw;
    /* width: 60vw; */
    /* background-color: blue; */
    /* margin-left: 28vw; */
} 
.footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 300;
    font-style: italic;
    left: 20%;
    top: 3%;

}
.underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
}
.footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 2vw;
}
.footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;

}
.box{
    width: 20%;
}
.footer-div h5{
    font-size:1.3vw ;
    font-weight: 500;
    /* margin: 0.2vh 0; */
}